 /* SVG 스타일 */
       body{
        background-color: #FFFF99;
       }

        #seoul-map {
            width: 95vw;
            height: auto;
           
        }

        /* 팝업 스타일 */
        #info-popup {
            display: none;
            position: absolute;
            background-color: white;
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            z-index: 100;
        }

        /* 스튜디오 마커 스타일 */
        .studio-marker {
            fill: red;
            cursor: pointer;
        }
/* g 요소 안의 도형에 기본 스타일 적용 */
.district polygon, .district polyline, .district path {
    fill: #b3d9ff;
    stroke: #333;
    stroke-width: 1px;
    transition: fill 0.3s ease;
}

/* g 요소 호버 시 색상 변경 */
.district:hover polygon,
.district:hover polyline,
.district:hover path {
    fill: #6ea8fe;
    cursor: pointer;
}

